/* Universal styles */
html {
  font-size: 16px;
}

body {
  font-family: 'Hind', sans-serif;
}

h1 {
  font-size: 3rem;
  color: #494949;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
  color: #747474;
}

h4 {
  font-size: 0.75rem;
}

h1, h2 {
  color: #494949;
}

.container {
  height: auto;
  overflow: hidden;
  margin: auto;
  display: flex;
 }

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* colors information **
dark gray = #494949 (colmar, learn something, button, nav, all main titles)
medium dark gray = #8d8d8d ( quote, dates, etc)
gray = #dbdbdb (academy, jumbotron background, guest lecture, etc)
medium light gray = #c1c1c1 (start learning background)
light gray = #f3f5f5 (second background, thesis & footer background)
*/

/* font information **
large font = 3rem - 48px (h1)
medium font = 2rem - 32px (h2)
small font = 1 rem - 16px (h3)
tiny font = 0.75rem - 12px (h4)

/* header */

header {
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}

.logo img {
  height: 3rem;
}

#grey {
  color: #dbdbdb;
  font-weight: 300;
}

nav span{
  padding-left: 1rem;
  font-weight: 300;
  color: #494949;
}

/* jumbotron */
.jumbotron {
  padding: 2rem 1.5rem;
  background-color: #dbdbdb;
  align-items: center;
}

.jumbotron img {
  width: 60%;
  margin-right: 1.5rem;
}

.headline {
  margin: 3rem; /* 24px was not enough, looked bad */
  width: 35%;
}

.jumbotron h1 {
  font-weight: 700;
}

.jumbotron h1, .jumbotron h2 {
  margin-bottom: 3rem; /* add space between the different elements */
}

.jumbotron h3 {
  width: 90%; /*the button should not fill the whole width */
  padding: .5rem 0;
  background-color: #494949;
  color: white;
  text-align: center;
}

/* second of the middle containers with the quote and side-columns */
.practicing {
  padding: 2rem 1.5rem;
  background-color: #f3f5f5;
  align-items: center;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.left img {
  margin-bottom: 2rem;
}

.left h2 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.left q {
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-size: .875rem;
  color: #9a9a9a;
  line-height: 1.25;
  width: 90%;
}

.left  h4 {
  color: #494949;
  font-weight: 300;
}

/* side-column styling */

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid red;
  padding-left: 1.5rem;
}

.info {
  display: flex;
}
